.cartItem{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.cart{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    min-height: 300px;
    width: 200px;
}

.clear{
position: absolute;
left: 1300px;
}

.butt{
    height: 30px;
    width: 100px;
    border-radius: 12px;
    background-color: slateblue;
}