.cartItem{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.cart{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    height: 300px;
    width: 200px;
}