.Big {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    border : 2px solid orangered;
    border-radius: 10px;
    padding: 20px;
    gap: 15px;
  
}

.first {
    width: 300px;
}

.second {
    display: flex;
    align-items: center;
    gap: 10px;
}

.third{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.Xbutton{
   margin-bottom: 230px;
   margin-left: 80px;
   border-color: orangered;
   border-radius: 10px;
   transition: all 0.8s ; 
}

.Xbutton:hover{
    color: white;
    background: rgb(255,0,0);
   

}